name: Training Pipeline

on:
  workflow_dispatch:

jobs:
  training:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
    
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11.9"
      
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
        
      - name: Run Training pipeline
        env:
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
        run: |
          python -m phishingsystem.pipeline.training_pipeline.pipeline